* {
  padding: 0;
  margin: 0;
}

body{
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

main {
  box-sizing: border-box;
  margin: 88px auto 65px ;
  width: 1120px;
}

h1{
  color: #1B1B1B;
  font-size: 36px;
  margin-bottom: 40px;
}

h2{
  color:#1B1B1B;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 8px;
}

h3{
  color: #1B1B1B;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4px;
}

img {
  border-radius: 28px;
}

#about img + p {
  font-style: italic;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

#destination {
  margin-top: 64px;
}

#destination section img {
  margin-bottom: 20px;
}


#destination section + section {
  margin-top: 48px;
}

#temple-Haedong {
  margin-top: 64px;
}

#temple-Haedong ul li, #templebeomeo ul li {
  color: #0C51A7;
  

}

li::marker {
  color: black;
  
}

li {
  margin-left: 24px; 
  font-weight: bold;
}



#about p:first-child, #destination p:first-child {
  color: #E1624F;
  text-transform: uppercase;
  font-weight: bold;
}

.casais {
    color: #591B98;
}

.familia{
  color: #E5245E;
}

.orcamento {
  color: #E95E10;
}

.line{
  margin: 40px 0;
}

#destination p:last-child {
  text-align: center;
}

footer{
  text-align: center;
  line-height: 150%;
  margin-bottom: 48px ;
}

footer img {
  vertical-align: middle;
}

