* {
  padding: 0;
  margin: 0;
}

body{
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

main {
  box-sizing: border-box;
  margin: 88px auto 65px ;
  width: 1120px;
}

h1{
  font-size: 36px;
  margin-bottom: 40px;
}

h2{
  font-size: 32px;
  margin-bottom: 8px;
}

h3{
  font-size: 28px;
}

img {
  border-radius: 28px;
}

img + p {
  font-style: italic;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

#destination {
  margin-top: 64px;
}

#destination img {
  margin-bottom: 20px;
}


#destination section + section {
  margin-top: 48px;
}

#temple-Haedong {
  margin-top: 64px;
}


#about p:first-child, #destination p:first-child {
  color: #E1624F;
  text-transform: uppercase;
  font-weight: bold;
}




